body {
    background-color: #ebebeb;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
    color: #333;
  }
  
  table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #c6d8ea;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #fff;
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  
